# build output
dist/
# generated types
.astro/
# scripts/render-svgs.mjs 的输出
.svg-preview/

# dependencies
node_modules/

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
